/* Global rules */
:root {
  --main-color: #10cab7;
  --secondary-color: #2c4744;
  --section-padding: 60px;
  --section-background: #f6f6f6;
  --section-top-margin: 100px;
  --main-duration: 0.5s;
}
html {
  scroll-behavior: smooth;
}
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
body {
  font-family: "Work Sans", sans-serif;
}

.container {
  padding-left: 10px;
  padding-right: 10px;
  margin-left: auto;
  margin-right: auto;
}

/* Small */
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
/* mediam */
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
/* large */
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
/* End global rules */
/* Start Components */
.special-heading {
  color: #ebeced;
  font-size: 100px;
  text-align: center;
  font-weight: 800;
  letter-spacing: -3px;
  margin: 0;
}
.special-heading + p {
  margin: -30px 0 0;
  font-size: 20px;
  text-align: center;
  color: #797979;
}
@media (max-width: 767px) {
  .special-heading {
    font-size: 60px;
  }
  .special-heading + p {
    margin-top: -20px;
  }
}
.grid-300 {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}
/* end Components */

header {
  padding: 20px;
}
header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header .logo {
  width: 60px;
}
header .links {
  position: relative;
}
header .links .icon {
  width: 30px;
  display: flex;
  flex-wrap: wrap;
  direction: rtl;
  cursor: pointer;
}
header .links .icon span {
  background-color: #333;
  margin-bottom: 5px;
  width: 100%;
  height: 2px;
}
header .links .icon span:nth-child(2) {
  width: 75%;
  transition: var(--main-duration);
}

header .links ul {
  list-style: none;
  margin: 0;
  background-color: var(--section-background);
  position: absolute;
  right: 0;
  padding: 0;
  min-width: 200px;
  top: calc(100% + 15px);
  display: none;
  transition: var(--main-duration);
}
header .links ul::before {
  content: "";
  border-width: 10px;
  border-style: solid;
  border-color: transparent transparent var(--section-background) transparent;
  position: absolute;
  right: 5px;
  top: -20px;
}
header .links ul li a {
  display: block;
  text-decoration: none;
  padding: 15px;
  color: #333;
  transition: padding-left var(--main-duration);
}
header .links ul li a:hover {
  padding-left: 25px;
}
header .links ul li:not(:last-child) a {
  border-bottom: 1px solid #ddd;
}
input.checkbox-menu[type="checkbox"] {
  display: none;
}
input.checkbox-menu[type="checkbox"]:checked ~ ul {
  display: block;
}
input.checkbox-menu[type="checkbox"]:checked + .icon span:nth-child(2) {
  width: 100%;
}
header .links ul li a:hover {
  border-left: 5px solid #00bcd4;
  border-top: 2px solid transparent;
  border-bottom: 2px solid transparent;
}
/* landing right now */

.landing {
  background-image: url(/images/pexels-pixabay-355770.jpg);
  background-size: cover;
  height: calc(100vh - 64px);
  display: flex;
  justify-content: center;
  align-items: center;
}
.landing .intro-text {
  text-align: center;
  width: 384px;
}
.landing .intro-text h1 {
  margin: 0;
  font-size: 50px;
  color: var(--main-color);
}
.landing .intro-text p {
  font-size: 19px;
  line-height: 1.8;
}
/* end landing */
/* start features */
.features {
  padding: var(--section-padding) 0;
  background-color: var(--section-background);
}
.features .container {
  grid-gap: 20px;
}
@media (max-width:400px) {
  .features .container {
    display: block;
  }
  .features .feat {
    margin-bottom: 20px;
  }
}
.features .feat {
  padding: 20px;
  text-align: center;
  border-radius: 10px;
  box-shadow: 0px 2px 20px -16px #000000;
  transition: var(--main-duration);

  position: relative;
}
.features .feat::after {
  content: "";
  position: absolute;
  border-width: 20px;
  border-color: transparent #f6f6f6 #f6f6f6 transparent;
  border-style: solid;
  bottom: 0;
  right: 0px;
}
.features .feat:hover {
  transform: scale(1.03);
  background-color: #121c23;
  box-shadow: initial;
}
.features .feat:hover::after {
  right: -1px;
  bottom: -1px;
}
.features .feat:hover h3 {
  color: white;
}
.features .feat:hover p {
  color: #fff;
}
.features .feat i {
  color: var(--main-color);
}
.features .feat h3 {
  font-weight: 800;
  margin: 30px 0;
}
.features .feat p {
  line-height: 1.8;
  color: #777;
  font-size: 17px;
}
/* end features */
/* start Services */
.services {
  padding: var(--section-padding) 0;
}
.services .services-content {
  grid-column-gap: 30px;
  margin-top: var(--section-top-margin);
}
@media (max-width:400px) {
  .services .services-content {
    display: block;
  }
}
.services .services-content .serv {
  display: flex;
  margin-bottom: 40px;
  padding: 15px;
  box-shadow: 0px 2px 20px -16px #000000;
  transition: var(--main-duration);
  border-radius: 10px;
}
.services .services-content .serv:hover {
  transform: scale(1.03);
  background-color: #03080c;
  box-shadow: initial;
}
.services .services-content .serv:hover h3 {
  color: white;
}
.services .services-content .serv:hover .text p {
  color: #fff;
}

@media (max-width: 767px) {
  .services .services-content .serv {
    display: flex;
    flex-direction: column;
    text-align: center;
  }
}
.services .services-content .serv i {
  color: var(--main-color);
  flex-basis: 60px;
}
.services .services-content .serv .text {
  flex: 1;
}
.services .services-content .serv .text h3 {
  margin: 0 0 20px;
}
.services .services-content .serv .text p {
  color: #444;
  font-weight: 300;
  line-height: 1.6;
}
.services .services-content .image {
  text-align: center;
  position: relative;
}
.services .services-content .image::before {
  content: "";
  position: absolute;
  right: 0;
  background-color: var(--secondary-color);
  height: calc(100% + 100px);
  top: -50px;
  z-index: -1;
  width: 80px;
}
.services .services-content .image img {
  width: 260px;
  height: 344px;
}
@media (max-width: 1199px) {
  .image-column {
    display: none;
  }
}
/* end Services */
/* start portfolio  */
.portfolio {
  padding: var(--section-padding) 0;
  background-color: var(--section-background);
}
.portfolio .portfolio-content {
  grid-gap: 30px;
  margin-top: var(--section-top-margin);
  position: relative;
  z-index: 0;
}
@media (max-width:400px) {
  .portfolio .portfolio-content {
    display: block;
  }
  .portfolio .portfolio-content .card {
    margin-bottom: 30px;
  }
}
.portfolio .portfolio-content .card {
  background-color: var(--section-background);
  position: relative;
  transition: 0.5s;
  box-shadow: 0px 2px 20px -16px #000000;
}

.portfolio .portfolio-content .card:hover::after,
.portfolio .portfolio-content .card:hover::before {
  animation: strock 0.5s linear forwards;
}
.portfolio .portfolio-content .card img {
  max-width: 100%;
  filter: blur(0.5px);
}
.portfolio .portfolio-content .card:hover img {
  max-width: 100%;
  filter: blur(0);
}
.portfolio .portfolio-content .card .info {
  padding: 20px;
  text-align: center;
}
.portfolio .portfolio-content .card .info h3 {
  margin: 0;
}
.portfolio .portfolio-content .card .info p {
  color: #777;
  line-height: 1.8;
  margin-bottom: 0;
}

.portfolio .portfolio-content .card::after,
.portfolio .portfolio-content .card::before {
  content: "";
  position: absolute;
  width: 0px;
  height: 0px;
  background: linear-gradient(135deg, #10cab742, #2c474478);
  z-index: -1;
}
.portfolio .portfolio-content .card::before {
  left: 0;
  top: -8px;
}
.portfolio .portfolio-content .card::after {
  right: 0;
  bottom: -8px;
}
@keyframes strock {
  0% {
    height: 8px;
    width: 0;
  }
  50% {
    height: 8px;
    width: calc(100% + 8px);
  }
  100% {
    height: calc(100% + 16px);
    width: calc(100% + 8px);
  }
}
/* end portfolio  */
/* start about */
.about {
  padding: var(--section-padding) 0 calc(var(--section-padding) + 60px);
}
.about .about-content {
  margin-top: var(--section-top-margin);
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
@media (max-width: 991px) {
  .about .about-content {
    flex-direction: column;
    text-align: center;
  }
}
.about .about-content .image {
  position: relative;
  width: 250px;
  height: 350px;
}
@media (max-width: 991px) {
  .about .about-content .image {
    margin: 0 auto 8px;
  }
}
.about .about-content .image img {
  max-width: 100%;
  height: 100%;
}
.about .about-content .image::before {
  content: "";
  position: absolute;
  width: 100px;
  height: calc(100% + 100px);
  background-color: #ebeced;
  z-index: -1;
  top: -40px;
  left: -20px;
}
.about .about-content .image::after {
  content: "";
  position: absolute;
  height: 250px;
  width: 120px;
  border-left: 80px solid var(--main-color);
  border-bottom: 80px solid var(--main-color);
  top: -40px;
  right: -150px;
  z-index: -1;
}

@media (max-width: 991px) {
  .about .about-content .image::after,
  .about .about-content .image::before {
    display: none;
  }
}
.about .about-content .text {
  flex-basis: calc(100% - 500px);
}
.about .about-content p:first-of-type {
  font-weight: bold;
  line-height: 2;
  margin-bottom: 50px;
}
.about .about-content p:last-of-type {
  line-height: 2;
  color: #777;
}
.about .about-content hr {
  background: linear-gradient(136deg, #10cab7, #2c475a57);
  height: 2px;
  width: 50%;
  display: inline-block;
  border: 0;
}

/* end about */
/* start contact  */
.contact {
  background-color: var(--section-background);
  padding: var(--section-padding) 0;
  position: relative;
}
.contact .info {
  padding: var(--section-padding) 0;
  text-align: center;
}
.contact .info .label {
  font-weight: 800;
  font-size: 40px;
  color: var(--secondary-color);
  letter-spacing: -2px;
  margin-bottom: 15px;
}
.contact .info .link {
  color: var(--main-color);
  display: block;
  font-size: 40px;
  font-weight: 800;
  text-decoration: none;
  letter-spacing: -2px;
}
.contact .info .social {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}
.contact .info .social i {
  margin-left: 10px;
  color: var(--secondary-color);
}
@media (max-width: 767px) {
  .contact .info .link,
  .contact .info .label {
    font-size: 25px;
  }
}
.contact svg {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
}
.contact .container {
  position: relative;
}
/* end contact  */
/* start footer */
.footer {
  background-color: var(--secondary-color);
  color: white;
  padding: 30px 10px;
  text-align: center;
  font-size: 18px;
}
.footer span {
  font-weight: bold;
  color: var(--main-color);
}
/* end footer */
